.person{
    background-color: brown;
    border-radius: 4px;
    position: relative;
    padding: 10px !important;
    height: 40px;
    margin-top: 20px;
    transition: all 13s;
    color: #fff;
    text-align: center;
    font-weight: 200px;
}
