body {
  background-color: antiquewhite;
}
.btn-holder{
  width: 10%;
  margin: 20% 0 7% 0;
}
.btn-holder::after{
  content: "s";
  background-color: #000;
  border-radius: 4px;
}
.flex{
  margin: 10%;
}
.ctn-holder{
  position: absolute;
  top: 10%;
  left: 65%;
}
